@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Calculator styles */

@layer components {
  body {
    @apply bg-[#219ebc];
  }
  .calculator {
    @apply bg-[#023047] w-80 mx-auto mt-10 p-4 rounded-lg shadow-lg;
  }
  input {
    @apply w-full text-right py-1 px-5 text-2x1 bg-transparent text-white;
  }
  .buttons {
    @apply grid grid-cols-4 gap-y-4 gap-x-3 mt-4;
  }
  button {
    /* @apply transition duration-300 active:-translate-y-1 text-x1; */
  }
  .number {
    @apply bg-gray-200 text-gray-700 rounded-lg p-2;
  }
  .operator {
    @apply bg-[#2193bc] text-white rounded-lg p-2;
  }
}